@model ExpensesWebApp.Models.Group

@{
    ViewData["Title"] = "Criar grupo";
}

<h1>Criar grupo de despesas</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-2">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control mt-1" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="d-flex form-group gap-2">
                <input type="submit" value="Criar" class="btn btn-primary" />
                <div>
                    <a class="btn btn-secondary" asp-action="Index">Voltar</a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
