@model ExpensesWebApp.Models.Group

@{
    ViewData["Title"] = "Excluir";
}

<h3 class="text-danger">Tem certeza de que deseja excluir esse grupo e todas suas despesas?</h3>
<div>
    <form asp-action="Delete">
        <input asp-for="Id" hidden />
        <div class="border p-3 mt-4">
            <div>
                <label asp-for="Name">Nome</label>
                <input asp-for="Name" class="form-control mb-3" disabled />
            </div>
            <div class="mb-2">
                <button type="submit" class="btn btn-danger">Sim, quero excluir</button>
                <a class="btn btn-secondary" asp-controller="Group" asp-action="Index">Cancelar</a>
            </div>

        </div>
    </form>
</div>

