@model IEnumerable<Group>
@{
    ViewData["Title"] = "Suas Despesas";
}
<h1>@ViewData["Title"]</h1>

<p>Veja aqui seus grupos de despesas</p>
<div class="flex align-content-center justify-content-center">
    <a class="btn btn-primary mb-3" asp-controller="Group" asp-action="Create">
        <i class="bi bi-plus"></i>&nbsp;Criar novo grupo de despesas
    </a>
    @if (Model == null || !Model.Any())
    {
        <div class="d-flex align-items-center justify-content-center border" style="height:200px">
            <h2 class="text-danger">Você não possui nenhum grupo.</h2>
        </div>
    }
    else
    {
        <table class="table" style="width:80%">
            <thead>
                <tr>
                    <th>Nome do grupo</th>
                    <th style="width:30%"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var group in Model)
                {
                    <tr>
                        <td>
                            @group.Name
                        </td>
                        <td class="text-end">
                            <a class="btn btn-secondary" asp-controller="Group" asp-action="Details" asp-route-id="@group.Id">
                                <i class="bi bi-eye"></i>&nbsp;Ver
                            </a>
                            <a class="btn btn-danger m-1" asp-controller="Group" asp-action="Delete" asp-route-id="@group.Id">
                                <i class="bi bi-trash3"></i>&nbsp;Excluir
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
