@model ExpensesWebApp.Models.Category

@{
    ViewData["Title"] = "Criar";
}

<h4>Criar categoria</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <input name="returnTo" hidden value="@ViewData["returnTo"]" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="d-flex mt-2 gap-2">
                <div class="form-group">
                    <input type="submit" value="Criar" class="btn btn-primary" />
                </div>
                <div class="form-group">
                    <a class="btn btn-secondary" asp-action="Index">Voltar</a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
