@{
    ViewData["Title"] = "Página Inicial";
}

<div class="d-flex align-items-center justify-content-center" style="height:400px">
    <h1 class="display-4 text-dark">Controle suas despesas conosco</h1>
</div>
